
  .toggle-button-success:active {
    background-color: #114d1f !important; /* Cor verde mais escura */
    border-color: #114d1f !important;
  }
  
  .toggle-button-danger:active {
    background-color: #741720 !important; /* Cor vermelha mais escura */
    border-color: #851b25 !important;
  }
